<ul class="navss" id="navs">
    <li><a class="active" href="/">Home</a></li>
    <li><a asp-page="product" asp-route-id="product.categoryId">Products</a></li>
    <a href="" id="cancel"><i class="fa-solid fa-xmark"></i></a>
    <div class="mode">
        <input type="checkbox" class="mode-btn" id="checkbox">
        <label id="light" for="checkbox"></label>
    </div>
</ul>
